VITE_API_URL=/api
VITE_API_TARGET=http://localhost:8000
VITE_RAY_DASHBOARD_URL=/ray-dashboard
VITE_RAY_ADDRESS=http://host.docker.internal:8265
VITE_RAY_DASHBOARD_TARGET=http://localhost:8265
VITE_PROMETHEUS_URL=/prometheus
VITE_PROMETHEUS_TARGET=http://localhost:9090
VITE_GRAFANA_URL=/grafana
VITE_GRAFANA_TARGET=http://localhost:3000
VITE_MLFLOW_URL=/mlflow
VITE_MLFLOW_TARGET=http://localhost:5000
VITE_OTEL_ENDPOINT=/otel/v1/metrics
VITE_OTEL_TARGET=http://localhost:4318
MAILCATCHER_HOST=http://localhost:1080
